body{
  /* background-color: rgb(238, 255, 0); */
  background-color: #cdd9cf;
  font-family: monospace;
  font-size: larger;
}

.text{

  color: rgb(0,0,0,0);
  /* position: fixed; */
}

.text::-moz-selection{
  color: #3b126c;
  background: #ff8331;
}
.text::selection{
  color: #3b126c;
  background: #ff8331;
}


.text > .mongool::-moz-selection{
  color: #3b126c;
  background: #ff8331;
}
.text > .mongool::selection{
  color: #3b126c;
  background: #ff8331;
}


.current{
  top: 0;
}

.current > .mongool{
  writing-mode: vertical-lr;
  text-orientation: sideways-right;
}


.newDivs{
  color: #3b126c;
  /* overflow-y: scroll; */
  /* width: 100%; */
  height: 300px;
  display: flex;

  /* margin: 5%; */
  top: 10px;
  position: relative;
  left: 50px;
  right: 100px;
  /* flex-wrap: nowrap; */
  margin-right: 30%;
}

